body{
	margin: 0px;
		background: url("6.jpg");
background-size: 100%;
	background-repeat: no-repeat;
	background size: 100% 700px;





}
#exp{
	font-size: 15px;
	font-family: sans-serif;
	font color: black;
	margin: 100px 0px 700px 700px;

}
#butt{
	width: 200px;
		padding: 10px 30px;
		border-radius: 20px;
		background-color:#3e7e63;
		border: 2px ;
		align-items: center;
}



body h1{

	font-size: 60;
	text-align: center;
	padding: 60px;
}
b
div input{
	align-items: center;
	padding: 0px;

}
body nav ul li{
	padding: 0px 25px;
background-color: black;
text-decoration: none;
display: inline-block;
float: left;
color: white;
margin-top: 0px;
margin-left: 15px;
margin: 0px 0px 0px 30px;

}
body nav ul li a{
	padding: 0px 15px;
background-color: black;
text-decoration: none;
display: inline-block;
float: left;
color: white;
margin: 10px;
	

}